* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  width: 900px;
  height: 500px;
  background: #E5F1FB;
  grid-column-gap: 5px;
}

.main .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[4];
      grid-template-rows: repeat(4, 40px);
  background: #272D39;
  border: 1px solid #99c0dd;
}

.main .menu_title {
  font-size: 20px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  color: #FFAA09;
  margin-top: 10px;
}

.main .menu_item {
  background: none;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}

.main .menu_item_active {
  background: #FFAA09;
}

.main .catalog {
  background: url(../img/confetti-1637197_1920.jpg) center center/cover no-repeat;
  border: 1px solid #272D39;
}

.main .catalog .cards-pizza {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 15px;
}

.main .catalog .cards-pizza .card {
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main .catalog .cards-pizza .card_img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main .catalog .cards-pizza .card_content {
  margin: 0 10px 0 10px;
}

.main .catalog .cards-pizza .card_content_name {
  font-size: 16px;
}

.main .catalog .cards-pizza .card_content_descr {
  font-size: 12px;
  line-height: 12px;
}

.main .catalog .cards-pizza .card_content_weight-btn {
  border-radius: 5px;
  outline: none;
  border: none;
  color: #272D39;
}

.main .catalog .cards-pizza .card_content_weight-btn_active {
  background: #FFAA09;
  color: #FFFFFF;
}

.main .catalog .cards-pizza .card_content_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .catalog .cards-pizza .card_content_buy-price {
  font-weight: 700;
}

.main .catalog .cards-pizza .card_content_buy-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #FFAA09;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 7px;
  cursor: pointer;
}

.main .catalog .cards-pizza .card_content_buy-plus span {
  font-size: 28px;
  font-weight: 700;
}

.main .catalog .cards-rolls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 15px;
}

.main .catalog .cards-rolls .card {
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main .catalog .cards-rolls .card_img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main .catalog .cards-rolls .card_content {
  margin: 0 10px 0 10px;
}

.main .catalog .cards-rolls .card_content_name {
  font-size: 16px;
}

.main .catalog .cards-rolls .card_content_descr {
  font-size: 12px;
  line-height: 12px;
}

.main .catalog .cards-rolls .card_content_weight-btn {
  border-radius: 5px;
  outline: none;
  border: none;
  color: #272D39;
}

.main .catalog .cards-rolls .card_content_weight-btn_active {
  background: #FFAA09;
  color: #FFFFFF;
}

.main .catalog .cards-rolls .card_content_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .catalog .cards-rolls .card_content_buy-price {
  font-weight: 700;
}

.main .catalog .cards-rolls .card_content_buy-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #FFAA09;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 7px;
  cursor: pointer;
}

.main .catalog .cards-rolls .card_content_buy-plus span {
  font-size: 28px;
  font-weight: 700;
}

.main .catalog .cards-burgers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 15px;
}

.main .catalog .cards-burgers .card {
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main .catalog .cards-burgers .card_img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main .catalog .cards-burgers .card_content {
  margin: 0 10px 0 10px;
}

.main .catalog .cards-burgers .card_content_name {
  font-size: 16px;
}

.main .catalog .cards-burgers .card_content_descr {
  font-size: 12px;
  line-height: 12px;
}

.main .catalog .cards-burgers .card_content_weight-btn {
  border-radius: 5px;
  outline: none;
  border: none;
  color: #272D39;
}

.main .catalog .cards-burgers .card_content_weight-btn_active {
  background: #FFAA09;
  color: #FFFFFF;
}

.main .catalog .cards-burgers .card_content_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .catalog .cards-burgers .card_content_buy-price {
  font-weight: 700;
}

.main .catalog .cards-burgers .card_content_buy-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #FFAA09;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 7px;
  cursor: pointer;
}

.main .catalog .cards-burgers .card_content_buy-plus span {
  font-size: 28px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */